# ai-service python
__pycache__/
*.pyc
venv/
.env

# Java
target/
*.class

# Node
node_modules/
dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
.terraform.lock.hcl


# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfvars
terraform/.terraform.lock.hcl